:root,
.app.light,
#portal-root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #030365;
    --primary-color: #0741c7;
    --secondary-color: #045796;
    --inverted-primary-color: #61cf5a;
    --inverted-secondary-color: #049604;
}
